<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalBlog</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/FinalBlog.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <header>
        <!-- Navbar inject -->
        <partial name="_Navbar" />
    </header>

    <!-- NOTIFICATION -->
    <partial name="_NotificationPartial" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   

    <script>
            document.addEventListener('DOMContentLoaded', () => {
                const successMsg = document.getElementById('success-toast')?.textContent;
                const errorMsg = document.getElementById('error-toast')?.textContent;
                const infoMsg = document.getElementById('info-toast')?.textContent;

                if (successMsg && typeof toastr !== 'undefined') {
                    toastr.success(successMsg);
                }
                if (errorMsg && typeof toastr !== 'undefined') {
                    toastr.error(errorMsg);
                }
                if (infoMsg && typeof toastr !== 'undefined') {
                    toastr.info(infoMsg);
                }
            });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
