@model IEnumerable<FinalBlog.Models.Notification>

@{
    ViewData["Title"] = "Notifications";
}

<div class="container mt-4">

    <h2 class="mb-4">
        <i class="bi bi-bell"></i> Notifications
    </h2>

    @if (!Model.Any())
    {
        <div class="alert alert-info">
            No notifications available.
        </div>
    }
    else
    {
        <div class="list-group">

            @foreach (var notification in Model)
            {
                <div class="list-group-item d-flex justify-content-between align-items-start">

                    <!-- LEFT -->
                    <div>
                        <p class="mb-1 fw-semibold">
                            @notification.Message
                        </p>

                        <small class="text-muted">
                            @notification.CreatedAt.ToLocalTime().ToString("yyyy-MM-dd hh:mm tt")
                        </small>
                    </div>

                  

                </div>

           
            }

        </div>
    }

</div>

